@{
    ViewBag.Title = "_LoginLayout";
}

<html>
<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="~/Content/Login/img/favicon.ico" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/bootstrap.min.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/font-awesome.min.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/material-design-iconic-font.min.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/animate.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/hamburgers.min.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/animsition.min.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/select2.min.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/daterangepicker.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/util.css" rel="stylesheet" />
<link href="~/Content/Login/css/main.css" rel="stylesheet" />
<link href="~/Content/Login/css/loader.min.css" rel="stylesheet" />
<!--===============================================================================================-->

<body>

    <div class="limiter">
        <div class="container-login100" style="       background-image: url('../../Content/Login/img/bg-01.jpg');">


            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                @RenderBody()
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/Login/js/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/popper.js"></script>
    <script src="~/Content/Login/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->

    <script src="~/Content/Login/js/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/moment.min.js"></script>
    <script src="~/Content/Login/js/daterangepicker.js"></script>
    <!--===============================================================================================-->

    <script src="~/Content/Login/js/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/main.js"></script>
    <script src="~/Content/Login/js/Custome.js"></script>
    <script src="js/main.js" type="4b1a584cb928c0a0b496fe30-text/javascript"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="4b1a584cb928c0a0b496fe30-text/javascript"></script>
    <script type="4b1a584cb928c0a0b496fe30-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="~/Content/Login/js/loader.min.js"></script>
</body>

</html>